<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
    Viet-Trung Tran obtained his PhD in big data management and processing at ENS Cachan/INRIA France in 2013. He has particularly deep industrial experiences as being intern, full-time engineer, and adjoint data scientist at BKAV, Microsoft Research Cambridge, Trendiction Luxembourg, and FPT corporation. He is passionate in harnessing data for society. In 2015, he founded <a href='https://gianhadat.cenhomes.vn'>giasan.vn</a>, the first real-estate analytic platform for Vietnam, that achieved the 3rd prize in Talent of Vietnam Award 2017, and successfully existed in 2018.  His current research interests include large-scale data analytics for real-estate, healthcare, labor and financial markets. 
</div>